<div class = "container" >
  <% @dogs.each do |dog| %>
  <div class="pro">
  <% if dog.avatar.url %>
  <%= image_tag dog.avatar.url %>
  <br>
  <br>
  <div id = "dog-info">
    <p>First name: <%= link_to dog.fname, dog_path(dog) %></p>
    <p>Last name: <%= link_to dog.lname %></p>
    <p>Gender: <%=  dog.gender %></p>
    <p>Age: <%=  dog.age %> years old</p>
    <p>Breed: <%= dog.breed %></p>
    <p>Fixed: <%= dog.fix %></p>
    <p>Belongs to: <%=link_to dog.user.fname, user_path(dog.user)%> <%= link_to dog.user.lname, user_path(dog.user) %></p>
  </div>
</div>
  <%end%>
  <%end%>
</div>
