<div class = "container" >
  <%= form_for @dog do |f| %>
    <p><%= f.label :fname, "First name: " %></p>
    <p><%= f.text_field :fname %></p>

    <p><%= f.label :lname, "Last name: " %></p>
    <p><%= f.text_field :lname %></p>

    <p><%= f.label :gender, "Gender: " %></p>
    <p><%= f.select :gender, dog_gender %></p>

    <p><%= f.label :age, "Age: " %></p>
    <p><%= f.text_field :age %></p>

    <p><%= f.label :breed, "Breed: " %></p>
    <p><%= f.text_field :breed %></p>

    <p><%= f.label :fix, "Fixed: " %></p>
    <p><%= f.select :fix, dog_fix %></p>

    <p><%= f.label :avatar %><br /></p>
    <p><%= f.file_field :avatar %></p>

    <p><%= f.submit %></p>
  <% end %>
</div>
