<h1>Dogs#show</h1>
<p>Find me in app/views/dogs/show.html.erb</p>

<p>Your Dog: </p>
<p>First name: <%= link_to @dog.fname %></p>
<p>Last name: <%= link_to @dog.lname %></p>
<p>Gender: <%= link_to @dog.gender %></p>
<p>Age: <%= link_to @dog.age %> years old</p>
<p>Breed: <%= link_to @dog.breed %></p>
<p>Fixed: <%= link_to @dog.fix %></p>
 <% if @dog.avatar.url %>
<p>Image: <%= image_tag @dog.avatar.url %></p>

<%= link_to "Delete Dog", dog_path(@dog), method: :delete %>
<%end%>
