
<div class = "container">
  <div id = "container-2">
    <div class="pro">
      <p>Your Profile: </p>
       <% if @user.avatar.url %>
      <%= image_tag @user.avatar.url %>
      <%end%>
      <br>
      <br>
      <p>First name: <%= @user.fname %></p>
      <p>Last name: <%= @user.lname %></p>
      <p>Description: <%= @user.description %></p>
    </div>
  </div>

    <br>
    <br>
    <div id = "profile">
      <p><%=link_to 'Add Dog', new_dog_path(@dog) %></p>
      <% @user_dogs.each do |dog| %>
      <p>View your dog(s) page: <%=link_to 'Click Here', dog_path(dog) %></p>
      <% end %>
      <% if @user.id == current_user.id %>
      <%= link_to 'Delete Profile', user_path(@user), :method => :delete, data: {confirm: "this is your last chance to change your mind!"} %>
      <%end%>
    </div>

   <div class="pro">
      <% @user_dogs.each do |dog| %>
        <% if dog.avatar.url %>
        <%= image_tag dog.avatar.url %>
        <br>
        <br>
      <div id = "dog-info">
          <p>First name: <%= dog.fname %></p>
          <p>Last name: <%= dog.lname %></p>
          <p>Gender: <%= dog.gender %></p>
          <p>Age: <%= link_to dog.age %> years old</p>
          <p>Breed: <%= link_to dog.breed %></p>
          <p>Fixed: <%= link_to dog.fix %></p>
      </div>
    </div>
    <br>
    <br>
    <%end%>
    <%end%>
  </div>
  </div>
</div>
