<<<<<<< HEAD
<h1>Hi <%= current_user.fname %>!</h1>
<p>Find me in app/views/users/show.html.erb</p>
=======
<div class = "container" >
  <p>Your Profile: </p>
  <p>First name: <%= @user.fname %></p>
  <p>Last name: <%= @user.lname %></p>
  <p>Description: <%= @user.description %></p>
   <% if @user.avatar.url %>
  <%= image_tag @user.avatar.url %>
  <%end%>
>>>>>>> c0b357fc3c0ece3b2191234271cc728b3da6efe6

  <br>
  <br>
  <p><%=link_to 'Add Dog', new_dog_path(@dog) %></p>
  <% @user_dogs.each do |dog| %>
  <p>View your dog(s) page: <%=link_to 'Click Here', dog_path(dog) %></p>
  <% end %>
  <% if @user.id == current_user.id %>
  <%= link_to 'Delete Profile', user_path(@user), :method => :delete, data: {confirm: "this is your last chance to change your mind!"} %>
  <%end%>
  <hr>
</div>
