<h1>Upcoming Events</h1>
<p>Find me in app/views/events/index.html.erb</p>

<b>Google map Api</b>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtZrarPnzDsfagH-LFcFF2xLQ8FgdHrQ8&callback=initMap">
</script>


<div id="floating-panel">
      <input id="address" type="textbox" placeholder="Philadelphia, PA">
      <input id="submit" type="button" value="Geocode">
    </div>

<div id="map">
</div>


   <div class = "container" >
    <% @events.each do |event| %>
    <p>Title: <%= link_to event.title, event_path(event) %></p>
    <p>Description: <%= event.description %></p>
    <p>Location: <%= event.location %></p>
    <p>Date: <%= event.date %></p>
    <p>Time: <%= event.time %></p>
    <hr>
    <%end%>
  </div>
