<div class = "container"
  <%= form_for @event do |f| %>
    <p><%= f.label :title, "Title: " %></p>
    <p><%= f.text_field :title %></p>

    <p><%= f.label :description, "Description: " %></p>
    <p><%= f.text_field :description %></p>

    <p><%= f.label :location, "Location: " %></p>
    <p><%= f.text_field :location %></p>

    <p><%= f.label :date, "Date: " %></p>
    <p><%= f.text_field :date %></p>

    <p><%= f.label :time, "Time: " %></p>
    <p><%= f.text_field :time %></p>

    <p><%= f.label :avatar %><br /></p>
    <p><%= f.file_field :avatar %></p>
    <%= f.submit %>
  <% end %>
</div>  
