<h1>Upcoming Events</h1>
<p>Find me in app/views/events/new.html.erb</p>

<%= form_for @event do |f| %>
  <%= f.label :title, "Title: " %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :description, "Description: " %>
  <%= f.text_field :description %>
  <br>
  <%= f.label :location, "Location: " %>
  <%= f.text_field :location %>
  <br>
  <%= f.label :date, "Date: " %>
  <%= f.text_field :date %>
  <br>
  <%= f.label :time, "Time: " %>
  <%= f.text_field :time %>
  <br>
  <%= f.label :avatar %><br />
  <%= f.file_field :avatar %>
  <br>


  <%= f.submit %>

<% end %>
