<h1>Events#show</h1>
<p>Find me in app/views/events/show.html.erb</p>


<p>Your Event: </p>
<p>Title: <%=  @event.title %></p>
<p>Description: <%=  @event.description %></p>
<p>Location: <%=  @event.location %></p>
<p>Date: <%=  @event.date %></p>
<p>Time: <%=  @event.time %></p>

<div class="RSVP">
Dogs RSVP:
<% @event.dogs.each do |dog| %>
  <%= link_to "#{dog.fname} #{dog.lname}", dog_path(dog) %>
<% end %>
</div>
