<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtZrarPnzDsfagH-LFcFF2xLQ8FgdHrQ8&callback=initMap">
</script>

<div id="cons">  
    <div class = "container" >
      <p>Your Event: </p>
      <p>Title: <%=  @event.title %></p>
      <p>Description: <%=  @event.description %></p>
      <p>Location: <%=  @event.location %></p>
      <p>Date: <%=  @event.date %></p>
      <p>Time: <%=  @event.time %></p>
    </div>

    <div class="RSVP">
    Dogs RSVP:
    <% @event.dogs.each do |dog| %>
      <%= link_to "#{dog.fname} #{dog.lname}", dog_path(dog) %>
    <% end %>
    </div>
</div>
