<!DOCTYPE html>
<html>
  <head>
    <title>K9 - Meet Up</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <body>
    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
<nav>


    <% if current_user %>
      <%= link_to 'Home', root_path %>
      <%= link_to 'Events', events_path %>
      <%= link_to 'Users', users_path %>
      <%= link_to 'Dogs', dogs_path %>
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
      <% end %>
      </nav>

    <footer>
        <div class="Footer">
            <p><em>Bee | Jay | Kobi </em><br> © Copyright 2018</p>
        </div>
    </footer>

    <%= yield %>
  </body>
</html>
