<!DOCTYPE html>
<html>
  <head>
    <title>K9 - Meet Up</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script async defer
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtZrarPnzDsfagH-LFcFF2xLQ8FgdHrQ8&callback=initMap">
   </script>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= link_to 'sign out', destroy_user_session_path, method: :delete %>
    <footer>
        <div class="Footer">
            <p><em>Bee | Jay | Kobi </em><br> © Copyright 2018</p>
        </div>
    </footer>
    <%= yield %>
  </body>
</html>
